= form_for current_user.members.build(:team_id => @team.id), :remote => true do |f|
  = f.hidden_field :team_id
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Join Team")}")
    = t("web-app-theme.save", :default => "Join Team") 
