.block
  %table
    %tr
      %td.main
        - unless @users.empty?
          %ul.users
            = render @users
    .block
      %td.user_sidebar
        %strong 
          Name
          = @user.name
        %br
        %strong
          URI
          = link_to user_path(@user), @user
        %br
        %strong
          Posts
          = @user.posts.count
        %br
        = render 'shared/status'
        .content
          - unless @users.empty?
            - @users.each do |user|
              = link_to carrierwave_tag(user), user
