%table
  %tr
    %td.main

      - unless @users.empty?
        %ul.users
          = render @users
    %td.sidebar
      %strong 
        Name
        = @user.name
      %strong
        URI
        = link_to user_path(@user), @user
      %strong
        Posts
        = @user.posts.count
      = render 'shared/status'
      - unless @users.empty?
        - @users.each do |user|
          = link_to carrierwave_tag(user), user
